{% extends 'views/wrapper.html' %}

{% block content %}
    <section class="skills">
        <div class="container skills__container">
            <h1 class="title skills__title">{{ title }}</h1>
            <form method="post" class="skills__form d-flex align-items-center">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="submit skills__submit" type="submit">Показать навыки</button>
            </form>
            <p class="description skills__description">Таблица частоты требуемых навыков</p>
            <table class="skills__table table table-light table-striped table-hover">
                <thead>
                    <tr>
                        <th>Навык</th>
                        <th>Частота появления</th>
                    </tr>
                </thead>
                <tbody>
                    {% if skills %}
                    {% for skill in skills %}
                        <tr>
                            <td>{{ skill.skill }}</td>
                            <td>{{ skill.frequency }}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}