{% extends 'views/wrapper.html' %}

{% block content %}
    <section class="vacancies">
        <div class="container vacancies__container">
            <h1 class="title vacancies__title">{{ title }}</h1>
            <form method="post" class="vacancies__form d-flex align-items-center">
                <p class="vacancies__helper">Format: MM/DD/YYYY</p>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="submit vacancies__submit" type="submit">Найти вакансии</button>
            </form>
            <div class="vacancies__info d-flex">
                <ul class="vacancies__vacancies d-flex flex-wrap">
                    {% if vacancies %}
                        {% for vacancy in vacancies %}
                            <li class="vacancies__vacancy">
                                <article class="vacancy vacancies__vacancy-info d-flex flex-column">
                                    <h2 class="vacancy__subtitle">{{ vacancy.name }}</h2>
                                    <div class="vacancy__info">
                                        <p class="vacancy__description">{{ vacancy.description }}</p>
                                        <p class="vacancy__description">{{ vacancy.key_vacancies }}</p>
                                        {% if vacancy.salary.average_salary is not None %}
                                            <p class="vacancy__description">
                                                от {{ vacancy.salary.average_salary }} {{ vacancy.salary.currency }}, {{ vacancy.employer.name }}, {{ vacancy.area.name }}</p>
                                        {% else %}
                                            <p class="vacancy__description">{{ vacancy.employer.name }}, {{ vacancy.area.name }}</p>
                                        {% endif %}
                                        <p class="vacancy__description">{{ vacancy.published_at }}</p>
                                    </div>
                                    <a href="{{ vacancy.url }}" class="vacancies__description vacancies__link"
                                       target="_blank">{{ vacancy.url }}</a>
                                </article>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="vacancies__list">
                    <li class="vacancies__item">
                        <aside class="vacancies__widget">
                            <script class="hh-script"
                                    src="https://api.hh.ru/widgets/vacancies/search?count=6&locale=RU&links_color=1560b2&border_color=1560b2&text=fullstack+%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA&area=113&show_region=true">
                            </script>
                        </aside>
                    </li>
                    <li class="vacancies__item">
                        <aside class="vacancies__widget">
                            <script class="hh-script"
                                    src="https://api.hh.ru/widgets/vacancies/search?count=3&locale=RU&links_color=1560b2&border_color=1560b2&text=frontend-%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA&area=113&show_region=true">
                            </script>
                        </aside>
                    </li>
                    <li class="vacancies__item">
                        <aside class="vacancies__widget">
                            <script class="hh-script"
                                    src="https://api.hh.ru/widgets/vacancies/search?count=3&locale=RU&links_color=1560b2&border_color=1560b2&text=backend-%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA&area=113&show_region=true">
                            </script>
                        </aside>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}