{% load static %}

<aside class="sidebar">
    <img class="sidebar__logo" src="{% static 'assets/logo.png' %}" alt="">
    <ul class="sidebar__links">
        <li class="sidebar__item">
            <a href="/profession" class="sidebar__link">Главная</a>
        </li>
        <li class="sidebar__item">
            <a href="/profession/demand" class="sidebar__link">Востребованность</a>
        </li>
        <li class="sidebar__item">
            <a href="/profession/geography" class="sidebar__link">География</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">Навыки</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">Последние вакансии</a>
        </li>
    </ul>
</aside>