<aside class="sidebar">
    <ul class="sidebar__links">
        <li class="sidebar__item">
            <a href="" class="sidebar__link"></a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link"></a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link"></a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link"></a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link"></a>
        </li>
    </ul>
</aside>