{% extends 'profession/views/wrapper.html' %}

{% block content %}
    <section class="skills">
        <div class="container skills__container">
            <aside class="skills__widget">
                <script class="hh-script"
                        src="https://api.hh.ru/widgets/vacancies/search?count=6&locale=RU&links_color=1560b2&border_color=1560b2&text=fullstack+%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA&area=113&show_region=true">
                </script>
            </aside>
        </div>
    </section>
{% endblock content %}