.sidebar {
    display: inline-block;
    position: fixed;
    top: 0;
    width: 270px;
    height: 100vh;
    background-color: var(--main-color);
    z-index: 1000;
}

.sidebar__logo {
    max-height: 60px;
    min-width: 120px;
    padding-left: 2rem;
    margin-bottom: 10px;
    padding-top: 10px;
}

.sidebar__links {
    padding: 0 20px 0 2rem;
}

.sidebar__item {
    text-shadow: none;
    transition: text-shadow 0.3s linear;
}

.sidebar__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.sidebar__item:hover {
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    transition: text-shadow 0.3s linear;
}

.sidebar__item:focus {
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    transition: text-shadow 0.3s linear;
}

.sidebar__link {
    font-size: calc(0.9rem + 0.5vw);
    line-height: 130%;
    color: var(--white) !important;
    max-width: 200px;
}